trunk/WinfoToolSys/Com.winfotian.Authorize/Service References/CrmPostService/CRMSPost.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CRMSPost" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://crm.scadacn.com/Service/CrmsPostService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://crm.scadacn.com/Service/CrmsPostService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://crm.scadacn.com/Service/CrmsPostService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICRMSPost_UpLaod_InputMessage">
    <wsdl:part name="parameters" element="tns:UpLaod" />
  </wsdl:message>
  <wsdl:message name="ICRMSPost_UpLaod_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpLaodResponse" />
  </wsdl:message>
  <wsdl:message name="ICRMSPost_RegisterCompanyInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterCompanyInfo" />
  </wsdl:message>
  <wsdl:message name="ICRMSPost_RegisterCompanyInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterCompanyInfoResponse" />
  </wsdl:message>
  <wsdl:message name="ICRMSPost_ChangeCompanyInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeCompanyInfo" />
  </wsdl:message>
  <wsdl:message name="ICRMSPost_ChangeCompanyInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeCompanyInfoResponse" />
  </wsdl:message>
  <wsdl:message name="ICRMSPost_RegisterUser_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterUser" />
  </wsdl:message>
  <wsdl:message name="ICRMSPost_RegisterUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterUserResponse" />
  </wsdl:message>
  <wsdl:message name="ICRMSPost_ChangeUserConfigUp_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeUserConfigUp" />
  </wsdl:message>
  <wsdl:message name="ICRMSPost_ChangeUserConfigUp_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeUserConfigUpResponse" />
  </wsdl:message>
  <wsdl:message name="ICRMSPost_ChangePassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangePassword" />
  </wsdl:message>
  <wsdl:message name="ICRMSPost_ChangePassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangePasswordResponse" />
  </wsdl:message>
  <wsdl:portType name="ICRMSPost">
    <wsdl:operation name="UpLaod">
      <wsdl:input wsaw:Action="http://tempuri.org/IT_CompanyInfo/UpLaod" message="tns:ICRMSPost_UpLaod_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IT_CompanyInfo/UpLaodResponse" message="tns:ICRMSPost_UpLaod_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterCompanyInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IT_CompanyInfo/RegisterCompanyInfo" message="tns:ICRMSPost_RegisterCompanyInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IT_CompanyInfo/RegisterCompanyInfoResponse" message="tns:ICRMSPost_RegisterCompanyInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeCompanyInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IT_CompanyInfo/ChangeCompanyInfo" message="tns:ICRMSPost_ChangeCompanyInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IT_CompanyInfo/ChangeCompanyInfoResponse" message="tns:ICRMSPost_ChangeCompanyInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IT_RegisterUser/RegisterUser" message="tns:ICRMSPost_RegisterUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IT_RegisterUser/RegisterUserResponse" message="tns:ICRMSPost_RegisterUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeUserConfigUp">
      <wsdl:input wsaw:Action="http://tempuri.org/IT_RegisterUser/ChangeUserConfigUp" message="tns:ICRMSPost_ChangeUserConfigUp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IT_RegisterUser/ChangeUserConfigUpResponse" message="tns:ICRMSPost_ChangeUserConfigUp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IT_RegisterUser/ChangePassword" message="tns:ICRMSPost_ChangePassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IT_RegisterUser/ChangePasswordResponse" message="tns:ICRMSPost_ChangePassword_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICRMSPost" type="tns:ICRMSPost">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UpLaod">
      <soap:operation soapAction="http://tempuri.org/IT_CompanyInfo/UpLaod" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterCompanyInfo">
      <soap:operation soapAction="http://tempuri.org/IT_CompanyInfo/RegisterCompanyInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeCompanyInfo">
      <soap:operation soapAction="http://tempuri.org/IT_CompanyInfo/ChangeCompanyInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterUser">
      <soap:operation soapAction="http://tempuri.org/IT_RegisterUser/RegisterUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeUserConfigUp">
      <soap:operation soapAction="http://tempuri.org/IT_RegisterUser/ChangeUserConfigUp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap:operation soapAction="http://tempuri.org/IT_RegisterUser/ChangePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CRMSPost">
    <wsdl:port name="BasicHttpBinding_ICRMSPost" binding="tns:BasicHttpBinding_ICRMSPost">
      <soap:address location="http://crm.scadacn.com/Service/CrmsPostService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>